@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;700&display=swap');

:root {
    --soft-red: hsl(10, 79%, 65%);
    --cyan: hsl(186, 34%, 60%); 
    --dark-brown: hsl(25, 47%, 15%);
    --medium-brown: hsl(28, 10%, 53%);
    --cream: hsl(27, 66%, 92%); 
    --very-pale-orange: hsl(33, 100%, 98%); 
}

/* main styling */

* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

body {
    overflow: hidden;
    font-family: 'DM Sans', sans-serif;
    font-size: 18px;
    color: var(--dark-brown);
    background-color: var(--cream);
}

.container {
    width: 400px;
    justify-content: center;
    align-items: center;
    margin: 100px auto;
}

small,
hr {
    font-size: 0.7rem;
    opacity: 0.6;
}

/* heading */

#heading {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
    padding: 15px 25px;
    color: var(--very-pale-orange);
    background-color: var(--soft-red);
    border-radius: 20px;
}

#heading > div > p {
    margin-top: 5px;
    font-weight: 700;
}

/* spending overview */

#spending-overview {
    padding: 20px 25px 30px 25px;
    background-color: var(--very-pale-orange);
    border-radius: 20px;
}

#spending-overview #bars {
    align-items: flex-end;
    gap: 10px;
    margin: 40px 10px 20px 10px;
}

#spending-overview #bars .bar {
    width: 40px;
    margin-bottom: 5px;
}

#spending-overview #bars .bar .fill {
    height: 100px;
    background-color: var(--soft-red);
    border-radius: 5px;
}

#spending-overview #bars div {
    text-align: center;
}

#spending-overview #month-overview {
    justify-content: space-between;
    margin-top: 20px;
}

#spending-overview #month-overview #month-total {
    align-self: flex-start;
}

#spending-overview #month-overview #month-percentage {
    align-self: flex-end;
    text-align: right;
}

/* bar hover states */

#spending-overview #bars .bar:hover {
    cursor: pointer;
}

#spending-overview #bars .bar:hover .fill {
    opacity: 0.6;
}

.amount-box {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    max-height: 20px;
    transform: translateX(-5px);
    margin-bottom: 10px;
    font-size: 0.7rem;
    font-weight: 700;
    color: var(--very-pale-orange); 
    background-color: var(--dark-brown);
    border-radius: 5px;
}

/* utility classes */

.flex {
    display: flex;
}

.flex-column {
    flex-direction: column;
}

/* responsive design for smartphones */

@media(max-width: 400px) {
    .container {
        width: 350px;
    }

    #spending-overview {
        padding: 20px 10px 30px 10px;
    }

    #spending-overview #bars .bar {
        width: 35px;
    }
}